@use '../src/assets/sass/addPlayer.scss';
@use '../src/assets/sass/gameplay.scss';
@use '../src/assets/sass/results.scss';
@use '../src/assets/sass/renderPlayers.scss';

body {
    background-image: url(../src/assets/images/background.png);
    font-family:'Courier New', Courier, monospace;
}

.StartButton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.StartButton-container {
    margin-bottom: 20px;
}

.StartButton-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.StartButton-image {
    width: 100%;
    height: auto;
}

.StartButton-text {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: -33%;
}

.StartButton-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}