@use '../src/assets/sass/addPlayer.scss';
<<<<<<< HEAD
@use '../src/assets/sass/gameplay.scss';
@use '../src/assets/sass/results.scss';


=======
@use '../src/assets/sass/renderPlayers.scss';
>>>>>>> add-player

body {
    background-image: url(../src/assets/images/background.png);
    font-family:'Courier New', Courier, monospace;
}

.StartButton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
