*{
    margin:0;
    padding: 0;
}

<<<<<<< HEAD
footer {
    height: 10vh;
    display: flex;
    justify-content: space-between;


    .box-footer {
        background-image: url(../../assets/images/footer.png);
        display: flex;
        object-fit: cover;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    


        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            margin: 5px;
            border-radius: 20px;
            overflow: hidden;
            margin-left: 5px;
        }

        p {
            margin-right: 50px;
            height: 20px;
            color: #fff;

        }
    }
}


@media (max-width: 700px){
    footer{
        display: flex;
        flex-direction: column;
        height: 15vh;

        .box-footer{

            display: flex;
            flex-direction: column;
        

        img{
            width: 30px !important;
            height: 30px !important;
        }

        p{
        font-size: small; 
        margin-block-start: 0;
        margin-block-end: 0;
        margin-right: 0 !important;
        }

    }
}
=======
#prueba {
    /* background-image: url(../images/background.png); */
    background-color: red;
>>>>>>> dev
}