.space{
    background: url("../images/UFO.png");
}
#imagenContainer {
    width: 200px;
    height: 200px;
    background-size: cover;
}

.imagen1 {
    background-image: url('/src/assets/images/UFO.png');
}

.imagen2 {
    background-image: url('/src/assets/images/activated-UFO.png');
}

.ufo{
    background-image: url(../../assets/images/UFO.png);
    background-size: 300px 350px;
    width: 300px;
    height: 350px;
    background-repeat: no-repeat;
    margin-left:40%;
    margin-top: 12%;

}
.planet{
    background-image: url(../../assets/images/shoot.png);
    background-size:120px 100px;
    width:15%;
    height:90px;
    margin-left: 60%;
    background-repeat: no-repeat;
}
.shoot{
    background-color: rgba(255, 174, 0, 0.1);
    color: black;
    margin-left:10%;
    margin-top: 13%;
    cursor:pointer;
    height: 30%;
    width:22%;
    font-size: larger;
    font-weight: bold;
    padding: 0%;
    border: darkgoldenrod;
}


