body {
    margin: 0;
    padding: 0;
    background-image:url(/src/assets/images/background.png);
  }
  
  main {
    width: 100%;
    height: 100%;
    background:no-repeat center;
    background-size: cover;
    
  
  }
  
  .space {
    width: 100%;
    height: 100%;

    
  }
  .ufo {
    width: 50%;
    height: 50%;
    background:no-repeat center center;
    
  }
  .ovni{
    width: 40%;
    height: 40%;
    margin-left:88%;
    margin-top: 30%;
  }
  
  #button-text {
    color:black;
    font-size: 16px;
    background-image: url(/src/assets/images/marte\ \(1\).png);
    
    
  
  }