.space{
    background: url("../images/UFO.png");
}
body {
    background-image: url(../images/background.png);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#imagenContainer {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ufo{
    background-image: url(../../assets/images/UFO.png);
    background-size: 300px 350px;
    width: 300px;
    height: 350px;
    background-repeat: no-repeat;
    margin-left:40%;
    margin-top: 12%;
    align-items: center;
    


}
.planet{
    background-image: url(../../assets/images/shoot.png);
    background-size:120px 100px;
    width:15%;
    height:90px;
    margin-left: 60%;
    background-repeat: no-repeat;
}
.planet2{
    background-image: url(../../assets/images/plante2.png);
    background-size: 120px 100px;
   width: 15%;
   height: 90px;
   margin-left: 67%;
   background-repeat: no-repeat;

}
.shoot{
    background-color: rgba(255, 174, 0, 0.1);
    color: black;
    margin-left:10%;
    margin-top: 13%;
    cursor:pointer;
    height: 30%;
    width:22%;
    font-size: larger;
    font-weight: bold;
    padding: 0%;
    border: darkgoldenrod;
}
.shoot2{
    background-color: rgba(255, 174, 0, 0.1);
    color: black;
    margin-left:8%;
    margin-top: 10%;
    cursor:pointer;
    height:30%;
    width:22%;
    font-size:85%;
    font-weight: bold;
    border: darkgoldenrod;
}